<div class="container wrapper">
  <h1 class="text-center m-2">Blogs</h1>
  <div class="alert alert-danger text-center" *ngIf="error">
    <strong>Server Error: </strong>{{ error }}
  </div>
  <div class="alert alert-info text-center" *ngIf="fetching && !error">
    <strong>Loading...</strong>
  </div>
  <div *ngIf="!fetching && !error">
    <div
      class="alert alert-info bg-UTOrange text-light text-center"
      *ngIf="blogs.length <= 0"
    >
      <strong>No Post Available</strong>
    </div>
    <app-blog *ngFor="let myBlog of blogs" [blogInp]="myBlog">{{
      myBlog.title
    }}</app-blog>
  </div>
</div>
