<div class="container wrapper">
  <div
    class="alert alert-success alert-dismissible fade show text-center"
    role="alert"
    *ngIf="blogAdded"
  >
    <strong>{{ title }}</strong> Posted Successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container w-50 mt-5 mb-5">
    <h1 class="mt-5 text-center">Add Posts</h1>
    <form #f="ngForm">
      <div class="form">
        <div class="form-group">
          <label for="title" class="form-label"
            >Author <span class="imp">*</span></label
          >
          <input
            type="text"
            placeholder="Enter Author Name"
            name="author"
            class="form-control"
            id="title"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="title" class="form-label"
            >Title <span class="imp">*</span></label
          >
          <input
            type="text"
            placeholder="Enter Title"
            name="title"
            class="form-control"
            id="title"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="content">Content <span class="imp">*</span></label>
          <textarea
            type="text"
            placeholder="Enter content"
            name="content"
            class="form-control"
            id="content"
            cols="35"
            rows="4"
            ngModel
            [(ngModel)]="contextLen"
            minlength="200"
            required
          ></textarea>
          <small class="form-text text-muted"
            >Min: {{ contextLen.length }}/200 letters</small
          >
        </div>
        <div class="form-group">
          <label for="img" class="form-label"
            >Add Images <span class="imp">*</span></label
          >
          <input
            type="url"
            name="image"
            class="form-control"
            id="img"
            placeholder="Enter Image URI"
            accept="image/png, image/jpeg,image/jpg"
            url
            required
            ngModel
            (change)="onChange($event)"
          />
          <small class="form-text text-muted">
            You can add only one image</small
          >
        </div>
        <div class="form-group">
          <input
            type="submit"
            placeholder="Enter Content"
            name="username"
            [disabled]="!f.valid"
            class="form-control btn btn-primary"
            id="title"
            (click)="onBlogSubmit(f.value, f)"
          />
        </div>
      </div>
    </form>
  </div>
</div>
