.transition {
  transition: all ease-in-out 2000ms;
}

.border-left {
  border-left: 5px solid var(--selectiveYellow) !important;
}

#card-img {
  width: 15vw;
  height: 35vh;
  float: left;
  margin: 10px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow ease-in-out 300ms;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}
