<div
  class="card m-4 border-left"
  [ngClass]="{
    'border-full-modify': editContent,
  }"
>
  <div class="card-body">
    <input
      class="card-title h4 modify-textarea"
      [readOnly]="!editContent"
      [(ngModel)]="blogInp.title"
      [ngClass]="{
        '.modify-textarea-outline-updating': editContent,
        '.modify-textarea-outline': !editContent
      }"
    />
    <textarea
      class="card-text modify-textarea"
      [(ngModel)]="blogInp.content"
      [readOnly]="!editContent"
      [ngClass]="{
        '.modify-textarea-outline-updating': editContent,
        '.modify-textarea-outline': !editContent
      }"
      [id]="'txt' + blogInp.id"
    ></textarea>

    <div class="btn-align">
      <button
        [disabled]="blogInp.content.length <= 200"
        href="#"
        class="btn btn-sm text-light bg-UTOrange"
      >
        View More
      </button>
      <button href="#" class="btn btn-sm btn-danger" (click)="onDeletePost()">
        Delete
      </button>
      <button
        href="#"
        class="btn btn-danger btn-sm bg-UTOrange"
        (click)="onEditText()"
      >
        {{ modifyBtn }}
      </button>
    </div>
  </div>
</div>
