.btn-align {
  width: 100%;
  display: flex;
  align-items: center !important;
  gap: 10px;
  flex-wrap: wrap !important;
}
.modify-textarea {
  width: 100%;
  border: none;
  resize: none;
  overflow-y: none !important;
}

.modify-textarea-outline {
  outline: none !important;
}

.modify-textarea::-webkit-scrollbar {
  display: none;
}

.border-left {
  border-left: 5px solid var(--selectiveYellow) !important;
  transition: border ease-in-out 500ms;
}

.border-full-modify {
  border: 5px solid var(--UTOrange) !important;
  transition: border ease-in-out 500ms;
}

.alert {
  padding: 3px !important;
  margin-left: auto;
  margin-top: auto;
}
