/* You can add global styles to this file, and also import other style files */

/* Colors */

:root {
  --skyBlue: #8ecae6;
  --blueGreen: #219ebc;
  --prussianBlue: #023047;
  --selectiveYellow: #ffb703;
  --UTOrange: #fb8500;
}

.bg-skyBlue {
  background-color: var(--skyBlue);
}
.text-skyBlue {
  color: var(--skyBlue);
}

.bg-blueGreen {
  background-color: var(--blueGreen);
}
.text-blueGreen {
  color: var(--blueGreen);
}

.bg-prussianBlue {
  background-color: var(--prussianBlue);
}
.text-prussianBlue {
  color: var(--prussianBlue);
}

.bg-selectiveYellow {
  background-color: var(--selectiveYellow);
}
.text-selectiveYellow {
  color: var(--selectiveYellow);
}

.bg-UTOrange {
  background-color: var(--UTOrange);
}
.text-UTOrange {
  color: var(--UTOrange);
}

.wrapper {
  margin-top: 4rem;
}

.nav-bg {
  background-color: #023047;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

.navbar-nav > li {
  font-weight: bolder;
  padding: 0.2px 20px;
}

nav .navbar-nav li a {
  color: white !important;
}

.route-active {
  border: 2px solid white;
  border-radius: 5px;
}
