/* You can add global styles to this file, and also import other style files */
.wrapper {
  margin-top: 4rem;
}

.nav-bg {
  background-color: #023047;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}

.navbar-nav > li {
  font-weight: bolder;
  padding: 0.2px 20px;
}

nav .navbar-nav li a {
  color: white !important;
}

.route-active {
  border: 2px solid white;
  border-radius: 5px;
}
