/* You can add global styles to this file, and also import other style files */
/* Colors */

:root {
  --skyBlue: #8ecae6;
  --blueGreen: #219ebc;
  --prussianBlue: #023047;
  --selectiveYellow: #ffb703;
  --UTOrange: #fb8500;
  --secondary-color1: #d90429;
}

.bg-skyBlue {
  background-color: var(--skyBlue) !important;
}
.text-skyBlue {
  color: var(--skyBlue) !important;
}

.bg-blueGreen {
  background-color: var(--blueGreen) !important;
}
.text-blueGreen {
  color: var(--blueGreen) !important;
}

.bg-prussianBlue {
  background-color: var(--prussianBlue) !important;
}
.text-prussianBlue {
  color: var(--prussianBlue) !important;
}

.bg-selectiveYellow {
  background-color: var(--selectiveYellow) !important;
}
.text-selectiveYellow {
  color: var(--selectiveYellow) !important;
}

.bg-UTOrange {
  background-color: var(--UTOrange) !important;
}
.text-UTOrange {
  color: var(--UTOrange) !important;
}

.wrapper {
  margin-top: 4rem;
}

mat-icon {
  color: black !important;
}
